In [40]:
from astropy.table import Table

In [41]:
a = [1, 4, 5]
b = [2.0, 5.0, 8.2]
c = ['x', 'y', 'z']

In [42]:
t = Table([a, b, c], names=('a', 'b', 'c'), meta={'name': 'first table'})
print t

 a   b   c
--- --- ---
  1 2.0   x
  4 5.0   y
  5 8.2   z

In [43]:
data_rows = [(1, 2.0, 'x'),
...              (4, 5.0, 'y'),
...              (5, 8.2, 'z')]

In [44]:
t = Table(rows=data_rows, names=('a', 'b', 'c'), meta={'name': 'first table'},
...           dtype=('i4', 'f8', 'S1'))
print t

 a   b   c
--- --- ---
  1 2.0   x
  4 5.0   y
  5 8.2   z

In [45]:

t

<Table length=3>
  a      b     c
int32 float64 str1
----- ------- ----
    1     2.0    x
    4     5.0    y
    5     8.2    z

In [46]:
t['b'].unit = 's'

In [47]:
t

<Table length=3>
  a      b     c
         s
int32 float64 str1
----- ------- ----
    1     2.0    x
    4     5.0    y
    5     8.2    z

In [48]:
t.info

<Table length=3>
name  dtype  unit
---- ------- ----
   a   int32
   b float64    s
   c    str1

In [49]:
t['b'].quantity

In [50]:
t['b'].to('min')

In [51]:
t.show_in_notebook()

In [52]:
print(t)

 a   b   c
     s
--- --- ---
  1 2.0   x
  4 5.0   y
  5 8.2   z

In [53]:
t['b'].format = '7.3f'

In [54]:
print t

 a     b     c
       s
--- ------- ---
  1   2.000   x
  4   5.000   y
  5   8.200   z

In [55]:
t.more()

 a     b     c
       s
--- ------- ---
  1   2.000   x
  4   5.000   y
  5   8.200   z

-- f, <space>, b, r, p, n, <, >, q h (help) --

ERROR: Console does not support getting a character as required by more().  Use pprint() instead. [astropy.table.pprint]

In [57]:
t.show_in_browser()

In [58]:
t.show_in_browser(jsviewer=True)

In [59]:
t.colnames

['a', 'b', 'c']

In [60]:
t.meta

{'name': 'first table'}

In [61]:
t['a']

<Column name='a' dtype='int32' length=3>
1
4
5

In [62]:
t['a'][1]

4

In [63]:
t[1]

<Row index=1>
  a      b     c
         s
int32 float64 str1
----- ------- ----
    4   5.000    y

In [64]:
t[1]['a']

4

In [65]:
print(t[0:2])

 a     b     c
       s
--- ------- ---
  1   2.000   x
  4   5.000   y

In [66]:
print(t['a', 'c'])

 a   c
--- ---
  1   x
  4   y
  5   z

In [67]:
t['a'][:] = [-1, -2, -3]

In [68]:
t.show_in_notebook()

In [69]:
t['a'][2] = 30

In [70]:
t.show_in_notebook()

In [71]:
t[1] = (8, 9.0, "W")

In [72]:
t[1]['b'] = -9

In [73]:
t[0:2]['b'] = 100.0

In [74]:
print t

 a     b     c
       s
--- ------- ---
 -1 100.000   x
  8 100.000   W
 30   8.200   z

In [75]:
t['b'] = ['a', 'new', 'dtype']

In [76]:
t['d'] = [1, 2, 3]

In [77]:
del t['c']

In [78]:
t.rename_column('a', 'A')

In [79]:
t.colnames

['A', 'b', 'd']

In [80]:
t.add_row([-8, -9, 10])

In [81]:
len(t)

4

In [82]:
t = Table([a, b, c], names=('a', 'b', 'c'), masked=True, dtype=('i4', 'f8', 'S1'))

In [83]:
t['a'].mask = [True, True, False]

In [84]:
t

<Table masked=True length=3>
  a      b     c
int32 float64 str1
----- ------- ----
   --     2.0    x
   --     5.0    y
    5     8.2    z

In [85]:
from astropy.time import Time

In [86]:
from astropy.coordinates import SkyCoord

In [87]:
tm = Time(['2000:002', '2002:345'])

In [88]:
sc = SkyCoord([10, 20], [-45, +40], unit='deg')

In [89]:
t = Table([tm, sc], names=['time', 'skycoord'])

In [90]:
t

<Table length=2>
         time          skycoord
                       deg,deg
        object          object
--------------------- ----------
2000:002:00:00:00.000 10.0,-45.0
2002:345:00:00:00.000  20.0,40.0

In [91]:
from astropy.table import QTable

In [92]:
import astropy.units as u

In [93]:
t = QTable()

In [94]:
t['dist'] = [1, 2] * u.m

In [95]:
t['velocity'] = [3, 4] * u.m / u.s

In [96]:
t['flag'] = [True, False]

In [97]:
t

<QTable length=2>
  dist  velocity  flag
   m     m / s
float64 float64   bool
------- -------- -----
    1.0      3.0  True
    2.0      4.0 False

In [98]:
t.info()

<QTable length=2>
  name    dtype   unit  class
-------- ------- ----- --------
    dist float64     m Quantity
velocity float64 m / s Quantity
    flag    bool         Column

### constructing table

In [99]:
from astropy.table import Table, Column

In [100]:
import numpy as np

In [101]:
t = Table()

In [102]:
t['a'] = [1, 4]
t['b'] = Column([2.0, 5.0], unit='cm', description='Velocity')
t['c'] = ['x', 'y']

In [103]:
print t

 a   b   c
     cm
--- --- ---
  1 2.0   x
  4 5.0   y

In [104]:
t = Table(names=('a', 'b', 'c'), dtype=('f4', 'i4', 'S2'))

In [105]:
print t

 a   b   c
--- --- ---

In [108]:
t.add_row((1, 2.0, 'x'))
t.add_row((4, 5.0, 'y'))

t = Table(dtype=[('a', 'f4'), ('b', 'i4'), ('c', 'S2')])

In [109]:
print t

 a   b   c
--- --- ---

In [111]:
import sys
from astropy.table import Table
t = Table(names=('a', 'b', 'c'), dtype=('f4', 'i4', 'S2'))
t.add_row((1, 2.0, 'x'))
t.meta['comments'] = ['Here is my explanatory text. This is awesome.','Second comment line.']
t.write(sys.stdout, format='ascii')

# Here is my explanatory text. This is awesome.
# Second comment line.
a b c
1.0 2 x

In [112]:
arr = {'a': np.array([1, 4], dtype=np.int32),
...        'b': [2.0, 5.0],
...        'c': ['x', 'y']}

In [114]:
t=Table(arr)

In [115]:
t.rename_column('a','A')

In [116]:
print t

 A   c   b
--- --- ---
  1   x 2.0
  4   y 5.0

In [117]:
a = [1, 4]
b = [2.0, 5.0]
t = Table([a, b], names=('a', 'b'))
t2 = Table(rows=t[1])

In [118]:
print t2

 a   b
--- ---
  4 5.0

In [119]:
Table(np.array([1, 2, 3]), names=['a', 'b', 'c'], dtype=('i8', 'i8', 'i8'))

<Table length=1>
  a     b     c
int64 int64 int64
----- ----- -----
    1     2     3

### access table

In [120]:
arr=np.arange(15)

In [121]:
print arr

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

In [122]:
arr.reshape(5,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [123]:
t = Table(arr, names=('a', 'b', 'c'), meta={'keywords': {'key1': 'val1'}})

ValueError: Arguments "names" and "dtype" must match number of columns

In [131]:
import numpy as np 
a=np.array([1,2,3,np.nan,5])
b=np.array([1,2,np.nan,4,5])
print a,b

print np.isnan(a),np.isnan(b),(b<3)

c=np.isnan(a) | np.isnan(b) |  (b<3)
print c

print a[~c]
print b[~c]

[ 1.  2.  3. nan  5.] [ 1.  2. nan  4.  5.]
[False False False  True False] [False False  True False False] [ True  True False False False]
[ True  True  True  True False]
[5.]
[5.]

/home/ashley/NewDisk/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in less

/home/ashley/NewDisk/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in less

In [134]:
a=np.array([1,2,3,np.nan,5])
b=np.array([1,2,np.nan,4,5])
c=np.isnan(b)
a=a[~c]
print a

[ 1.  2. nan  5.]